.container.page-content
  %h2 Welcome to Tiffin!

  %p
    With Tiffin you can find chefs, add meals, and have it delivered to your door all in one place.
  %p
    = link_to 'Find Chefs to get started!', chefs_path
