.container.page-content
  %h2 Tell us more about your business.

  .errors
    = render 'shared/form_errors', resource: @chef

  .row.justify-content-center
    .col
      = form_for [@chef.user, @chef] do |form|
        = render 'chefs/chef_form', form: form, button_text: 'Sign Up As A Chef'
