
.container.page-content
  %h2 Create New Meal

  .row.justify-content-center
    .col
      = form_for(:meal, url: chef_meals_path) do |form|
        = render 'meals/meal_form', form: form, button_text: 'Create Meal'
