@mixin delinkify {

}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 5rem;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0 3px 3px #d9d9d9;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  background-color: #ffffff;
  z-index: 100;
}

.header__title {
  height: 100%;
}

.header__offset {
  padding-top: 80px
}

.header__home {
  @include delinkify;
}

a, a.link, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}