
.header {
  width: 100%;
  padding: 16px 20px;
  height: 5rem;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0 3px 3px #d9d9d9;

  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  position: fixed;
  background-color: #ffffff;
  z-index: 100;
}

.header__title {
  height: 100%;
  font-weight: bold;
  color: #33c6a1;
  font-family: 'Arvo', serif;
}

.header__image {
  padding-top: 5px;
  height: 80px;
  max-widt: 100px;
}

.header__right {
  margin-left: auto;
}

.header__offset {
  padding-top: 80px
}

.header-nav {
  display: flex;
  flex-direction: row;
}

.header-nav__item {
  margin: 0 20px;
}

a, a.link, a:visited, a:hover {
  &.header__home {
    text-decoration: none;
    color: inherit;
  }
}