
.login {
  width: 100%;
  background-color: #EFEFEF;
  padding: 100px 15px 100px 15px;
}

.login__form-box {
  max-width: 500px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 30px 100px;
  box-shadow: 3px 3px 3px #d9d9d9;
}

.login__heading {
  text-align: center;
}