
.login {
  width: 100%;
  background-color: #EFEFEF;
  padding: 100px 0 100px 0;
}

.login__form-box {
  max-width: 500px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 30px 100px;
}

.login__heading {
  text-align: center;
}