
%header.header
  .header__left
    = link_to root_path, class: "header__home" do
      = image_tag('lunchbox.svg', class: 'header__image')
  .header__left
    = link_to root_path, class: "header__home" do
      %h1.header__title
        Tiffin
  = render 'layouts/nav'
